<h1>Stupid Coaching</h1>
<div class="question">
  <p><%= @question %></p>
  <p>-you</p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p>-your coach</p>
</div>

<%= link_to "ask a new question", ask_path %>
